.contact {
  position: relative;
  padding-top: 80px;
  min-height: calc(100vh - 80px);
}

.videoWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -999;
  top: 0;
  left: 0;
  overflow: hidden;
}

.ContactBGVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
