/* utility classes start */
.listReset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.srOnly {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* utility classes end */

.navbar {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobileNavToggle {
  display: none;
}
.logo {
  color: #fff;
  margin-left: 30px;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}

.primaryNavigation {
  margin-right: 30px;
  display: flex;
  gap: var(--gap, 50px);
  padding: 10px 20px;
  backdrop-filter: blur(1rem);
  background: hsl(0 0% 100%/ 0.3);
}

.item a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  font-size: clamp(0.95, 20px, 1.15rem);
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.active {
  border-bottom: 2px solid #0f64f2;
  width: max-content;
}

/* mobile design */

@media (max-width: 40em) {
  .primaryNavigation {
    width: 100%;
    margin-right: 0;
    border-radius: 0;
    --gap: 2rem;
    position: fixed;
    z-index: 100;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;
    transform: translateX(100%);
    transition: transform 250ms ease-out;
  }
  .primaryNavigation[data-visible="true"] {
    transform: translateX(0%);
  }
  .mobileNavToggle {
    display: block;
    border: 0;
    background-color: transparent;
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 999;
    cursor: pointer;
  }
}
