.project {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  cursor: pointer;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.imgContainer {
  width: 40%;
  height: 200px;
}

.projectImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.topText {
  width: calc(60% - 50px);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
}

.desc {
  font-weight: 300;
  color: #fafafa;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottomLeft {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
}

.batch {
  padding: 4px 0;
  width: 100px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9292a0;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}

.bottomRight {
  display: flex;
  align-items: center;
  gap: 20px;
}

.linkIcon {
  cursor: pointer;
  transition: all 200ms ease-in-out;
  color: #fff;
}

.linkIcon:hover {
  color: #0b50c3;
}

/* mobile design */
@media (max-width: 40em) {
  .project {
    width: 100%;
    padding: 0;
  }

  .top {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .topText {
    width: 70%;
  }

  .imgContainer {
    width: 100%;
  }
  .bottom {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .bottomLeft {
    width: 90%;
    gap: 20px;
  }

  .batch {
    padding: 4px 6px;
    font-size: 12px;
  }

  .title,
  .desc {
    text-align: center;
  }

  .title {
    font-size: 1.5rem;
    line-height: 1.1;
    margin-bottom: 10px;
  }

  .desc {
    font-size: 14px;
  }
}
