.qualification {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: #000;
}

.top {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.icon {
  margin-right: 10px;
}

.typeTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}

.active {
  color: #0f64f2;
}

.bottom {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.item {
  width: 50%;
  border-radius: 10px;
  align-self: flex-end;
  background: hsl(0 0% 100%/ 0.5);
  backdrop-filter: blur(1rem);
  transition: transform 500ms ease-in-out;
  cursor: default;
}

.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

.item:hover {
  transform: translateX(50px);
}

.item:nth-child(odd) {
  align-self: flex-start;
}

.item:nth-child(odd):hover {
  transform: translateX(-50px);
}

.item:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.title {
  font-size: 1.75rem;
  line-height: 1.25;
  margin-bottom: 10px;
  font-weight: 600;
}

.subtitle {
  color: #333;
  font-weight: 300;
}

.timespan {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #010203;
  font-size: 14px;
}

/* mobile design */
@media (max-width: 40em) {
  .qualification {
    width: 100%;
  }

  .top,
  .bottom {
    width: 100%;
  }
  .typeTitle {
    font-size: 1.15rem;
  }

  .item {
    width: 100%;
    align-self: center;
    transition: all 200ms ease-in-out;
  }

  .item:nth-child(odd) {
    align-self: center;
  }

  .item:nth-child(odd):hover {
    transform: translateX(0);
  }

  .item:hover {
    transform: translateX(0);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .title {
    margin-bottom: 10px;
  }
}
