.home {
  position: relative;
}

.heroContainer {
  padding-top: 50px;
  min-height: calc(100vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.videoWrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -999;
  top: 0;
  overflow: hidden;
}

.heroBGVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.scrollDownText {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 600;
  transition: all 400ms ease-in-out;
  color: #fff;
}

.scrollDownText:hover {
  transform: translateY(10px);
}

.skillsContainer,
.qualificationContainer,
.projectsContainer {
  width: 80%;
  border-radius: 10px;
  background-color: #e0edff;
  margin: 0 auto;
  margin-top: 50px;
}

.wrapper {
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.desc {
  font-size: 1.25rem;
  font-weight: 300;
  color: #a0a0a0;
}

.qualificationContainer {
  background-color: #ffe0fd;
}

.projectsContainer {
  background-color: #ffe3e0;
  margin-bottom: 50px;
}

/* mobile design */

@media (max-width: 40em) {
  .skillsContainer,
  .qualificationContainer,
  .projectsContainer,
  .aboutContainer {
    width: 90%;
  }
  .wrapper {
    padding: 30px 20px;
    gap: 30px;
  }
}
