.home {
  position: relative;
}

.scrollTop {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 999;
  right: 50px;
  width: 70px;
  height: 70px;
  background-color: #0b4ec1;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 50%;
  color: #fff;
  top: 85%;
  cursor: pointer;
  transition: all 200ms linear;
}

.scrollTop:hover {
  background-color: #3e81f4;
}

.heroContainer {
  padding-top: 50px;
  min-height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
}
.heroBGVideoWrapper,
.fallbackBG {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -99;
  top: 0;
  overflow: hidden;
}
.fallbackBG {
  background-color: #010203;
  z-index: -999;
}

.heroBGVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homeBG {
  width: 100%;
  height: calc(100% - 100vh + 50px);
  position: absolute;
  z-index: -999;
  top: 100vh;
  overflow: hidden;
}

.scrollDownText {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 600;
  transition: all 400ms ease-in-out;
  color: #fff;
}

.scrollDownText:hover {
  transform: translateY(10px);
}

.skillsContainer,
.qualificationContainer,
.projectsContainer {
  width: 80%;
  background-color: #3eead0;
  color: #fff;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.wrapper {
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.desc {
  font-size: 1.25rem;
  color: #f2f2f2;
}

.qualificationContainer {
  background-color: #ff2969;
}

.projectsContainer {
  background-color: #293bff;
  margin-bottom: 50px;
}

/* mobile design */

@media (max-width: 40em) {
  .heroContainer {
    padding-top: 30px;
    gap: 30px;
    margin-bottom: 10px;
  }

  .skillsContainer,
  .qualificationContainer,
  .projectsContainer,
  .aboutContainer {
    width: 95%;
    margin-top: 10px;
  }

  .wrapper {
    padding: 30px 10px;
    gap: 30px;
  }

  .projectsContainer {
    margin-bottom: 10px;
  }

  .scrollTop {
    width: 60px;
    height: 60px;
    right: 30px;
  }
}
