.bottombar {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  z-index: 99;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.bottombarText {
  flex: 1;
  font-size: 20px;
  color: #000;
}

.socialList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  width: 200px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.social a {
  text-decoration: none;
  color: #000;
}

/* mobile design */

@media (max-width: 40em) {
  .bottombarRight {
    display: none;
  }
}
